---
import LayoutAuth from '@/layouts/LayoutAuth.astro';
import LoginForm from '@/components/auth/LoginForm.astro';
---

<LayoutAuth title="Sign In">
  <p slot="subtitle">Sign in to your account</p>
  <LoginForm />
</LayoutAuth>
