---
import LayoutAuth from '@/layouts/LayoutAuth.astro';
import RegisterForm from '@/components/auth/RegisterForm.astro';
---

<LayoutAuth title="Create Account">
  <p slot="subtitle">Create a new account</p>
  <RegisterForm />
</LayoutAuth>
