---
import LayoutAuth from '@/layouts/LayoutAuth.astro';
import RegisterForm from '@/components/auth/RegisterForm.astro';
---

<LayoutAuth title="Crear Cuenta">
  <p slot="subtitle">Crea una nueva cuenta</p>
  <RegisterForm />
</LayoutAuth>
